<div class="main">
  <div class="container">

    <div *ngIf="error">
      <p>Error: {{ error }}</p>
    </div>

    <button class="btn btn-primary" (click)="showCreateForm = true">Create Target group</button>

    <hr class="my-5">

    <!-- Create target groups section -->
    <form *ngIf="showCreateForm && !selectedTargetGroup" (ngSubmit)="createTargetGroup(title.value)">

      <h2>Create target group</h2>
      <div class="mb-5">
        <!-- form fields -->
        <div class="mb-3">
          <label for="target_group" class="form-label">title</label>
          <input type="text" class="form-control" id="target_group" placeholder="Enter the title of the target group.." #title required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-link" (click)="showCreateForm = false">Cancel</button>
      </div>
    </form>

    <ng-container *ngIf="!selectedTargetGroup">
      <!-- All target groups section -->
      <h2>All target groups</h2>
      <div *ngIf="targetGroups">
        <div *ngFor="let targetGroup of targetGroups">
          <!-- target group card -->
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ targetGroup.title }}</h5>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button (click)="deleteTargetGroup(targetGroup.id)" class="btn btn-link">Delete</button>
                <button (click)="selectTargetGroup(targetGroup)" class="btn btn-link">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Edit target group section -->
    <form *ngIf="selectedTargetGroup && !showCreateForm" (ngSubmit)="updateTargetGroup(selectedTargetGroup.id, newTitle.value)">
      <h2>Edit target group {{ selectedTargetGroup.title }}</h2>
      <div class="mb-3">
        <label class="form-label">title:</label>
        <input type="text" title="title" class="form-control" [(ngModel)]="selectedTargetGroup.title" name="title" #newTitle required>
      </div>

      <button type="submit" class="btn btn-primary">Save target group</button>
    </form>

  </div>
</div>
