<div class="main">
  <div class="container">

    <div *ngIf="error">
      <p>Error: {{ error }}</p>
    </div>

    <button class="btn btn-success" (click)="showCreateForm = true">Aanmaken</button>

    <hr class="my-5">

    <!-- Create post section -->
    <form *ngIf="showCreateForm && !selectedPost" (ngSubmit)="createPost(title.value, content.value)">
      <h2>Maak bericht aan</h2>
      <div class="mb-5">
        <!-- Create post form -->
        <!-- form fields -->
        <div class="mb-3">
          <label for="title" class="form-label">Titel</label>
          <input type="text" class="form-control" id="title" placeholder="Vul een titel in.." #title required>
        </div>
        <div class="mb-3">
          <label class="form-label">Omschrijving</label>
          <textarea class="form-control" placeholder="Vul een omschrijving in.." #content required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Opslaan</button>
        <button class="btn btn-link" (click)="showCreateForm = false">Annuleren</button>
      </div>
    </form>

    <ng-container *ngIf="!selectedPost">
      <!-- All posts section -->
      <h2>All berichten</h2>
      <div class="posts-container" *ngIf="posts">
        <div *ngFor="let post of posts">
          <!-- post card -->
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button (click)="deletePost(post.id)" class="btn btn-link">Verwijderen</button>
                <button (click)="selectPost(post)" class="btn btn-link">Aanpassen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Edit post section -->
    <form *ngIf="selectedPost && !showCreateForm" (ngSubmit)="updatePost(selectedPost.id, newTitle.value, newContent.value)">
      <h2>Edit post {{ selectedPost.title }}</h2>
      <div class="mb-3">
        <label class="form-label">Titel:</label>
        <input type="text" name="newTitle" class="form-control" [(ngModel)]="selectedPost.title" #newTitle required>
      </div>
      <div class="mb-3">
        <label class="form-label">Omschrijving:</label>
        <textarea name="newContent" class="form-control" [(ngModel)]="selectedPost.content" #newContent required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>

  </div>
</div>
